body {
    background-color: lightblue;
    ;
}

h1 {
    background-color: white;
}

h2 {
    background-color: black;
}

h3 {
    background-color: #000;
    color: MintCream;
}

.pls {
    color: blue;
}

.button3 {
    background-color: #f44336;
}